modules = ["web", "nodejs-20", "python-3.12"]
run = "npm run dev:all"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000
